<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- properties 파일로 따로 관리하기 -->
	<properties resource="dbaccess.properties"></properties>
	
	<!-- db에 접속했을때 커넥션 객체를 만드는데 그거에 대한 설정 내용  -->
	<!-- <settings>	</settings> -->
	
	<!-- 
		configuration위에 커서 올려두면 순서를 알수잇는디 이 순서를 준수해서 작성해줘야 한다. 
		typeAliases는 environments 앞에 써줘야하ㅏㅁ  
	-->
	<typeAliases>
		<typeAlias type="com.mybatis.model.vo.Student" alias="student"/>
	</typeAliases>
	
	
	<!-- 
		DB연결정보를 제공하는태그 사용 
		environments태그 -> environment태그 -> transactionManager, datasource태그
	-->	
	<environments default="mybatis">
		<environment id="mybatis">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!-- DB접속에 대한 정보를 작성 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pass}"/>
<!-- 				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="mybatis"/> -->
			</dataSource>
		</environment>
	</environments>
	
	<!-- 실행할 sql문을 설정한 mapper등록 -->
	<mappers>
		<mapper resource="/mappers/student/student-mapper.xml"/>
	</mappers>
</configuration>
